@media (max-width: 970px) {
  .sid-links {
      color: #998E37;
      font-weight: 600;
    }
    .aut-div {
      align-items: center;
    }
    .sid-h1 {
      font-size: 40px;
      font-weight: bold;
      font-family: Judson;
      letter-spacing: 2.5%;
      text-transform: uppercase;
      text-align: center;
    }
    .sid-h2 {
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
    }
    .sid-h3 {
      font-size: 45px;
      font-family: 'Judson';
      font-weight: 700;
    }
    .cita-btn {
      position: absolute;
      width: 380px;
      height: 65px;
      left: 50%;
      transform: translate(-50%);
      font-size: 20px;
      background-color: #AB9F3C;
      color: white;
      border: none;
    }
    .cita-btn:hover {
      background-color: white;
      border: solid;
      border-color: #AB9F3C;
      color: #AB9F3C;
    }
    #main-logo {
      width: 150%;
      height: 150%;
      margin-left: 15px;
      margin-top: 25px;
    }
    #img1 {
      position: relative;
      bottom: 145px;
      left: 75px;
    }
    .card-deck-sid {
      margin-left: 0px;
      margin-right: 0px;
    }
    .sqr-btn {
      background-color: white;
      border-color: white !important;
    }
    .card-img-bg {
    }
    .ca:hover {
       filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(300%) contrast(0.7);
    }
    .sid-h3-gold {
      font-size: 45px;
      font-family: 'Judson';
      font-weight: 700;
      color: #998E37;
    }
    span {
      color: #998E37;
      font-weight: bold;
    }
    .div-circle-right {
      background-image: url(media/circleshape.svg);"
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top 0% right 0% !important;
    }
    .div-circle-left {
      background-image: url(media/circleshapeleft.svg);"
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top 0% left 0% !important;
    }
    .casos-de-exito-sec {
      width: 100vw;
      margin-left: -50vw;
      margin-right: -50vw;
      height: 500px !important; 
      background-color: #1D1D1D;
    }
    .camp-logo {
      height: 45%;
      width: 65%;
      margin-top: 100px;
    }
    .v-line {
      position: relative;
      left: 300px;
      top: 65px;
    }
    .casos-de-exito-text {
      font-size: 22px;
      color: white;
      margin-top: 170px;
      text-align: left;
    }
    .div-premium-img {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .premium-img {
      width: 1191px;
      height: 844px;
    }
    .div-faq {
      margin-left: 250px;
      margin-right: 250px;
    }
    .call-to-action-div {
      border: solid;
      border-width: 3px;
      border-color: #998E37;
      margin-left: 210px;
      margin-right: 210px;
    }
}

@media (min-width: 970px) {
  .sid-links {
      color: #998E37;
      font-weight: 600;
    }
    .sid-h1 {
      font-size: 55px;
      font-weight: bold;
      font-family: Judson;
      letter-spacing: 2.5%;
      text-transform: uppercase;
    }
    .sid-h2 {
      font-size: 25px;
      font-family: 'Montserrat', sans-serif;
    }
    .sid-h3 {
      font-size: 45px;
      font-family: 'Judson';
      font-weight: 700;
    }
    .cita-btn {
      position: absolute;
      width: 380px;
      height: 65px;
      left: 50%;
      transform: translate(-50%);
      font-size: 20px;
      background-color: #AB9F3C;
      color: white;
      border: none;
    }
    .cita-btn:hover {
      background-color: white;
      border: solid;
      border-color: #AB9F3C;
      color: #AB9F3C;
    }
    #main-logo {
      width: 40%;
      height: 40%;
      margin-left: 5px;
      margin-top: 2px;
    }
    #img1 {
      position: relative;
      bottom: 145px;
      left: 75px;
    }
    .card-deck-sid {
      margin-left: 0px;
      margin-right: 0px;
    }
    .sqr-btn {
      background-color: white;
      border-color: white !important;
    }
    .card-img-bg {
    }
    .ca:hover {
       filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg) saturate(300%) contrast(0.7);
    }
    .sid-h3-gold {
      font-size: 45px;
      font-family: 'Judson';
      font-weight: 700;
      color: #998E37;
    }
    span {
      color: #998E37;
      font-weight: bold;
    }
    .div-circle-right {
      background-image: url(media/circleshape.svg);"
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top 0% right 0% !important;
    }
    .div-circle-left {
      background-image: url(media/circleshapeleft.svg);"
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top 0% left 0% !important;
    }
    .casos-de-exito-sec {
      width: 100vw;
      margin-left: -50vw;
      margin-right: -50vw;
      height: 500px !important; 
      background-color: #1D1D1D;
    }
    .camp-logo {
      height: 45%;
      width: 65%;
      margin-top: 100px;
    }
    .v-line {
      position: relative;
      left: 300px;
      top: 65px;
    }
    .casos-de-exito-text {
      font-size: 22px;
      color: white;
      margin-top: 170px;
      text-align: left;
    }
    .div-premium-img {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .premium-img {
      width: 1191px;
      height: 844px;
    }
    .div-faq {
      margin-left: 250px;
      margin-right: 250px;
    }
    .call-to-action-div {
      border: solid;
      border-width: 3px;
      border-color: #998E37;
      margin-left: 210px;
      margin-right: 210px;
    }
}
